.wrapper {
    display: flex;
    position: fixed;
    bottom: 0.5rem;
    left: 0.5rem;
    right: 0.5rem;
    top: auto;
    flex-direction: column;
    align-items: center;
    padding: 1rem;
    z-index: 999;
    max-height: 100%;
    align-self: center;
    max-height: 90%;
}

.arrow-icon {
    color: white;
    cursor: pointer;
    text-shadow: #000 0px 0px 5px, #000 0px 0px 5px, #000 0px 0px 5px,
        #000 0px 0px 5px, #000 0px 0px 5px, #000 0px 0px 5px;
}

.maze-list-container {
    display: flex;
    flex-direction: column;
    min-width: 100%;
    background: white;
    border-radius: 8px;
    overflow-y: scroll;
    box-shadow: #000 0px 0px 5px, #000 0px 0px 5px, #000 0px 0px 5px,
        #000 0px 0px 5px, #000 0px 0px 5px, #000 0px 0px 5px;
}

.maze-list-header {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 1rem;
}

.reload-container {
    background: #C44900;
    border-radius: 8px;
    border-style: solid;
    display: flex;
    flex-direction: row;
    align-items: center;
    width: min-content;
    padding: 0.3rem;
    margin-right: 2rem;
    cursor: pointer;
}

.reload-container:hover {
    background: #883200;
}

.reload-title {
    margin-right: 1rem;
}

.reload-icon {
    animation: reload-animation 2s;
    animation-timing-function: ease;
}

.maze-list-column-name {
    display: grid;
    grid-template-columns: 15% 15% 15% 40% auto;
    margin-bottom: 1rem;
    border-style: solid;
    border-radius: 4px;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    background: #EFF2C0;
}

.maze-list-title {
    font-size: 35px;
    font-weight: bolder;
}

.maze-list-hide {
    display: none;
}

.maze-list {
    display: flex;
    flex-direction: column;
    margin: 1rem;
    white-space: nowrap;
    animation: show-animation 2s;
}

.maze-list-item {
    color: black;
}

@keyframes show-animation {
    from {
        visibility: hidden;
        opacity: 0;
    }

    to {
        visibility: visible;
        opacity: 1;
    }
}

@keyframes reload-animation {
    from {
        transform: rotate(-360deg);
    }

    to {
        transform: rotate(0deg);
    }
}