.maze-cell {
    display: flex;
    width: 50px;
    height: 50px;
    background-color: #E6CCBE;
    border-style: solid;
    border-color: #5A5353;
    border-width: 5px;
    cursor: pointer;
}

.start-maze-sign {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    margin: auto;
    border-radius: 100px;
    background-color: #006b17;
    border-style: solid;
    box-shadow: inset #002408 0px 0px 15px;
}

.end-maze-sign {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    margin: auto;
    border-radius: 100px;
    background-color: #c50000;
    border-style: solid;
    box-shadow: inset #2e0000 0px 0px 15px;
}

.visited-maze-sign {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    margin: auto;
    border-radius: 100px;
    background-color: #fc5800;
    border-style: solid;
    box-shadow: inset #2c0f00 0px 0px 15px;
}

@keyframes show-animation {
    from {
        visibility: hidden;
        opacity: 0;
    }

    to {
        visibility: visible;
        opacity: 1;
    }
}

/* Solve path #C8CC92 */
/* Searched path #A07178 */
/* Tmp color #776274 */