.page {
    display: flex;
    flex-direction: column;
    margin-top: 100px;
    padding: 1rem;
    width: 100%;
}

.page-backgroud {
    display: flex;
    position: absolute;
    background: #776274;
    height: 100%;
    width: 100%;
    overflow-y: auto;
}