.maze-card {
    display: grid;
    grid-template-columns: 12rem 12rem 12rem auto;
    margin-bottom: 1rem;
    border-style: solid;
    border-radius: 4px;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    cursor: pointer;
}

.maze-card:hover {
    background: #A4BAB7;
}